copy cuisine page to modify

<html>
    <head>
        <title>Restaurant List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">
    </head>
    <body>
        <div class="container">
            <h2>Cuisines</h2>
            {% if cuisine is not empty %}
                <p>Here are all your cuisines:</p>
                <ul class="list-group">
                    {% for dish in cuisine %}
                        <li class="list-group-item">{{ dish.getCuisineName }} -
                            {% for restaurant in restaurants %}
                                {% if dish.getRestaurantId == restaurant.getId %}
                                    {{ restaurant.getRestaurantName }} - <span class="badge tc"><a href="/cuisine/{{ dish.getId }}/edit">Edit</a></span></li>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="submit-form">
                <form action='/cuisine' method='post'>
                    <label for='cuisine_name'>Cuisine Name</label>
                    <input id='cuisine_name' name='cuisine_name' type='text'>
                    <select name="restaurant_id">
                        {% for restaurant in restaurants %}
                        <option value="{{ restaurant.getId }}">{{ restaurant.getRestaurantName }}</option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-default" type='submit'>Add Cuisine</button>
                </form>

                <form action='/delete_cuisine' method='post'>
                    <button class="btn btn-default" type='submit'>Clear</button>
                </form>
            </div>
            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
